@import "var.scss";

.container-header {
    text-align: center;

    .container-header--img {
        padding: 30px 0 20px 0;
        width: 350px;
    }

    .container-header--h1 {
        margin: 13px;
        font-size: 1em;

        .container-header--span {
            text-transform: uppercase;
            background-color: $base-color;
            color: #fff;
            padding: 5px;
            font-size: 1.2em;
        }
    }

    .container-header--scroll {
        padding: 50px 0 10px 0;
        color: $base-color;

        .container-header--i {
            padding: 6px 9px;
            border: 1px solid $base-color;
            border-radius: 50%;
        }
    }
}